
/*-BEGINE-FONTS--------------------------------*/
@font-face{
	font-family: CeraPro;
	font-display: swap;
	src: url("../fonts/CeraPro-Medium.woff2") format("woff2"), url("../fonts/CeraPro-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}


//thin - 100
//Extra Light - 200
//light - 300
//regular, normal - 400
//medium - 500
//semi bold - 600
//bold - 700
//extra bold - 800
//heavy, black - 900
/*-END-FONTS--------------------------------*/

