@import "base/mixins";

// footer
.footer {

	&__wrapper {
	}
}
.body-footer {
}


//popup
body{
	&::before{
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(18,20,22,.31);
		opacity: 0;
		pointer-events: none;
		z-index: 11;
		transition: all 0.25s ease-in-out 0s;
	}
	&.js-popup-on{
		overflow: hidden;
		&::before{
			opacity: 1;
			pointer-events: all;
		}
	}
}
.popup-window {
	opacity: 0;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 15;
	transform: translate(-50%,-50%);
	pointer-events: none;
	max-width: 904px;
	width: calc(100% - 30px);
}
.js-order-call-window-open .popup-window.order-call-window{
	opacity: 1;
	pointer-events: all;
	transition: opacity 0.3s ease-in-out;
}
.popup-window__close {
	position: absolute;
	width: 24px;
	height: 24px;
	right: 0;
	top: -40px;
	cursor: pointer;
}
.popup-window__close:after, .popup-window__close:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%) rotate(45deg);
	-ms-transform: translate(-50%,-50%) rotate(45deg);
	transform: translate(-50%,-50%) rotate(45deg);
	background: #fff;
	width: 16px;
	height: 2px;
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
}
.popup-window__close:after {
	-webkit-transform: translate(-50%,-50%) rotate(-45deg);
	-ms-transform: translate(-50%,-50%) rotate(-45deg);
	transform: translate(-50%,-50%) rotate(-45deg);
}
.popup-window__container {
	max-height: 90vh;
	overflow-y: auto;
}